<img src="../src/app/assets/img/logoPaouvir.png" alt="Logo Paouvir"/>
<div class="box-login">
  <div class="form-login">
    <div class="div-inputs">

      <app-input
        label="Usuário"
        placeholder="Digite seu nome de usuário"
      ></app-input>

      <app-input
        label="Senha"
        placeholder="Digite sua senha"
        type="password" suffixIcon="fa fa-eye"
      ></app-input>

    </div>
    <div class="div-botao">
      <app-button variant="primary" size="md">
        Entrar
      </app-button>

      <app-button variant="secondary" size="md">
        Cadastre-se
      </app-button>
    </div>
  </div>
</div>
