<div class="content">
  <div class="bandas">
    <div class="headerBandas">
      <span>Minhas Bandas</span>
      <app-button
        prefixIcon="fa fa-plus"
        variant="primary"
        label="Cadastar Banda"
      ></app-button>
    </div>

    <app-carrossel [listaItens]="bandas" [itemTemplate]="cardBandaTemplate"></app-carrossel>
      <ng-template #cardBandaTemplate let-banda>
        <app-card
          [hoverable]="true"
          [title]="banda.nome"
        ></app-card>
      </ng-template>

  </div>

  <div class="albuns">
    <div class="headerAlbuns">
      <span>Meus Albuns</span>
      <app-button
        prefixIcon="fa fa-plus"
        variant="primary"
        label="Cadastar Album"
      ></app-button>
    </div>

    <app-carrossel [listaItens]="albuns" [itemTemplate]="cardAlbumTemplate"></app-carrossel>
      <ng-template #cardAlbumTemplate let-album>
        <app-card
          [hoverable]="true"
          [title]="album.nome"
        ></app-card>
      </ng-template>
  </div>
</div>
