.bandas, .albuns{
  align-items: center;
  margin: 1rem 0 0 0;
}

.headerBandas, .headerAlbuns{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

span{
  font-size: 18px;
  font-weight: 700;
  color: var(--color-gray-900);
}

.content{
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
