<div class="content">
  <div class="bandas">
    <div class="headerBandas">
      <span>Minhas Bandas</span>
      <app-button
        prefixIcon="fa fa-plus"
        variant="primary"
        label="Cadastar Banda"
      ></app-button>
    </div>

    <div class="cardBandas">
      <app-card
        *ngFor="let banda of bandas"
        [hoverable] = "true"
        [title]="banda.nome"
      ></app-card>
    </div>
  </div>

  <div class="albuns">
    <div class="headerAlbuns">
      <span>Meus Albuns</span>
      <app-button
        prefixIcon="fa fa-plus"
        variant="primary"
        label="Cadastar Album"
      ></app-button>
    </div>

    <div class="cardAlbuns">
      <app-card
        *ngFor="let album of albuns"
        [hoverable] = "true"
        [title]="album.nome"
      ></app-card>
    </div>
  </div>
</div>
