<div class="content">
  <div class="bandas">
    <div class="headerBandas">
      <span>Minhas Bandas</span>
      <app-button
        prefixIcon="fa fa-plus"
        variant="primary"
        label="Cadastar Banda"
      ></app-button>
    </div>

    <div class="cardBandas">
      <app-card [hoverable] = "true" title="TESTE"></app-card>
      <app-card [hoverable] = "true" title="TESTE"></app-card>
      <app-card [hoverable] = "true" title="TESTE"></app-card>
      <app-card [hoverable] = "true" title="TESTE"></app-card>
      <app-card [hoverable] = "true" title="TESTE"></app-card>
    </div>
  </div>

  <div class="albuns">
    <div class="headerAlbuns">
      <span>Meus Albuns</span>
      <app-button
        prefixIcon="fa fa-plus"
        variant="primary"
        label="Cadastar Album"
      ></app-button>
    </div>

    <div class="cardAlbuns">
      <app-card [hoverable] = "true" title="TESTE"></app-card>
      <app-card [hoverable] = "true" title="TESTE"></app-card>
      <app-card [hoverable] = "true" title="TESTE"></app-card>
      <app-card [hoverable] = "true" title="TESTE"></app-card>
      <app-card [hoverable] = "true" title="TESTE"></app-card>
    </div>

  </div>
</div>
