@import "index"; // Funciona por causa do includePaths no angular.json

.btn {
  display: inline-flex;
  width:100%;
  align-items: center;
  justify-content: center;
  gap: $spacing-2;
  border: 1px solid transparent;
  border-radius: $spacing-1;
  cursor: pointer;
  @extend .body-medium;
  transition: all 0.2s ease-in-out;
  white-space: nowrap;

  .btn-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.1em;
  }

  &-primary {
    background-color: $color-brand-azul;
    color: $color-gray-0;
    &:hover:not(:disabled) {
      background-color: $color-info-700;
    }
  }

  &-secondary {
    background-color: transparent;
    border-color: $color-gray-300;
    color: $color-gray-700;
    &:hover:not(:disabled) {
      background-color: $color-gray-50;
      border-color: $color-gray-400;
    }
  }

  &-danger {
    background-color: $color-danger-500;
    color: $color-gray-0;
    &:hover:not(:disabled) {
      background-color: $color-danger-700;
    }
  }

  // Tamanhos
  &-sm {
    height: 32px;
    padding: 0 $spacing-3;
    font-size: 12px;
    &.btn--only-icon { width: 32px; padding: 0; }
  }

  &-md {
    height: 40px; // Reduzido de 44px para 40px como solicitado
    padding: 0 $spacing-4;
    &.btn--only-icon { width: 40px; padding: 0; }
  }

  &-lg {
    height: 48px;
    padding: 0 $spacing-6;
    font-size: 18px;
    &.btn--only-icon { width: 48px; padding: 0; }
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
    background-color: $color-gray-200;
    border-color: $color-gray-300;
    color: $color-gray-500;
  }
}
