/* You can add global styles to this file, and also import other style files */
/* Import Lato from Google Fonts and set as default font for the app */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
@import '@fortawesome/fontawesome-free/css/all.min.css';

:root {
  --btn-dark: #390058;
  --btn-primary: #8A38F5;
  --btn-accent: #C670F8;
  --btn-surface: #F3F3F3;

  --input-dark: #390058;
  --input-primary: #8A38F5;
  --input-accent: #C670F8;
  --input-surface: #F3F3F3;

  --color-white: #ffffff;
  --color-black: #000000;
  --color-gray-0: #f9fafb;
  --color-gray-100: #f3f4f6;
  --color-gray-200: #e5e7eb;
  --color-gray-300: #d1d5db;
  --color-gray-500: #6b7280;
  --color-gray-700: #374151;
  --color-gray-900: #111827;

  --border-radius-lg: 0.5rem;

  --spacing-1: 0.25rem;
  --spacing-3: 0.75rem;
  --spacing-4: 1rem;
}

html, body {
  font-family: 'Lato', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}
