<div class="albuns">
  <div class="headerAlbuns">
    <span>Albuns</span>
    <app-button
      prefixIcon="fa fa-plus"
      variant="primary"
      label="Cadastar Album"
    ></app-button>
  </div>

  <div class="cardAlbuns">
    <app-card [hoverable] = "true" title="TESTE"></app-card>
    <app-card [hoverable] = "true" title="TESTE"></app-card>
    <app-card [hoverable] = "true" title="TESTE"></app-card>
    <app-card [hoverable] = "true" title="TESTE"></app-card>
    <app-card [hoverable] = "true" title="TESTE"></app-card>
  </div>

</div>
